
body{
    width: auto;  
    margin: auto;
    max-width:90%;
    width:900px;
    /*border: 1px solid red;*/
    margin: 0 10 0 10;
    font-family: 'Arimo', sans-serif;
    font-size: 16pt;
}
img {
  display: block;
  height: auto;
  padding: 5px;
}
@media (max-width: 768px) {
    html {
        font-size: 12pt;
    }
}

.c {
    text-align: center !important;
}
.conteiner, conteiner-fluid{
    margin-top: 20px;
}
#top-menu{
    box-shadow: 1px 1px 3px grey;
    z-index: 1000;
    margin-top: 0px;
    text-align: center;
}

.btn-outline-danger{
    color:#e36386;
    background-color:transparent;
    background-image:none;
    border-color:#a95169;
}
.btn-outline-danger:hover{
    color:#fff;
    background-color:#a95169;
    border-color:#a95169
}
.btn-outline-danger.focus,.btn-outline-danger:focus{
    box-shadow:0 0 0 0;
}
.btn-outline-danger.disabled,.btn-outline-danger:disabled{
    background-color:transparent
}

#top-menu .navbar-brand:hover{
    color: #a95169;
}
.contact{
    list-style: none;
    display: inline-block;
}

.navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .show>.nav-link{
    border-bottom: 2px solid #a95169;
    color: #a95169;
}
.navbar-light .navbar-nav .nav-link:hover{
    border-bottom: 2px solid #a95169;
    color: #a95169;
}
#block_main{
    text-align: center;
    margin-top: 10px;
    width: auto;
}
.main-text h2{
     font-family: 'Lobster', cursive;
     color: #9f0744;
}

#count{
    margin-top: 10px;
}
#count .count{
    font-size: 2.5em;
}
#block2{
    margin-top: 10px; 
    margin-left: auto;
}

#block2 p:nth-child(4){
    
    font-size: 18pt;
    text-transform: uppercase;
    font-weight: bold;
}
#block2 h2{
    text-transform: uppercase;
   font-weight: bold;
}
#block2 h2:after{
    display: block;
    max-width: 150px;
    min-width: 80px;
    height: 2px;
    background-color: #a95169;
    margin: 20px auto;
    content: ' ';
}
.fon-flow{
    background: url(images/fon.jpg) top center repeat;
    padding: 20px 0;
    margin-left: auto;
}
#block2 .fon-flow > div {
     background-color: rgba(245, 245, 220, 0.3);
     margin: 6px;
     padding: 5px;
     border-radius: 5px;
    max-width: 290px;
    min-width: 290px;
}
#block2  .fon-flow > div .header{
     font-size: 17pt;
     color: #a95169;
}
#block2 .fon-flow >div .price{
     font-size: 2em;
     color: #392b22;
}
#block3{
    margin-top: 50px; 
    margin-left: auto;
    
}
#block3 h2{
    text-transform: uppercase;
    font-weight: bold;
}
#block3 h2:after{
    display: block;
    max-width: 450px;
    min-width: 80px;
    height: 2px;
    background-color: #a95169;
    margin: 20px auto;
    content: ' ';
}
#block4{
    margin-top: 10px; 
    margin-left: auto;
}

#block4 h2{
    text-transform: uppercase;
    font-weight: bold;
}
#block4 h2:after{
    display: block;
    max-width: 450px;
    min-width: 80px;
    height: 2px;
    background-color: #a95169;
    margin: 20px auto;
    content: ' ';
}

#block4 .conteiner .fon-flow>div .header{
     font-size: 17pt;
     color: #a95169;
}
#block4 .conteiner:after{
    display: block;
    max-width: 600px;
    min-width: 80px;
    height: 2px;
    background-color: #a95169;
    margin: 20px auto;
    content: ' ';
}

#contacts{
    text-align: left;
    font-size: 10pt;
}
#contacts img{
    width: 50px;
}
#contacts p, a, a:hover{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
#contacts h4{
    font-size: 10pt;
}
#back-to-top{
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: none;
}






























